/*.project-grid .x-column-header-inner {
  height: 60px
}*/

.x-column-header-text-multipleHeader-over, .x-column-header-over .x-column-header-text{
  color: #15428B;
  text-decoration: underline;
  cursor: pointer;
}

.x-column-header-over .x-column-header-text-multipleHeader .x-column-header-text-inner {
  color: black;
  text-decoration: none;
}

